.home-breadcrumb {
	width: 100%;
	height: 146px;
	background: #f2f4f5;
	border-bottom: solid 1px #edeff0;
}

.breadcrumbs_container
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-bottom: 13px;
	padding-left: 3px;
}
.breadcrumbs ul li
{
	display: inline-block;
	position: relative;
}
.breadcrumbs ul li:not(:last-child)::after
{
	display: inline-block;
	font-family: 'FontAwesome';
	content: '\f105';
	margin-left: 7px;
	margin-right: 4px;
	color: #384158;
}
.breadcrumbs ul li a
{
	font-size: 14px;
	font-weight: 400;
	color: #384158;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.breadcrumbs ul li a:hover
{
	color: #14bdee;
}

/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(85, 98, 112, 0.08);
  padding: 30px;
  border-radius: 4px;
  background: white;
}

.team .member .pic {
  overflow: hidden;
  width: 140px;
  border-radius: 4px;
}

.team .member .pic img {
  transition: ease-in-out 0.3s;
}

.team .member:hover img {
  transform: scale(1.1);
}

.team .member .member-info {
  padding-left: 30px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #556270;
}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #dee2e6;
  bottom: 0;
  left: 0;
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  background: #8795a4;
}

.team .member .social a i {
  color: #fff;
  font-size: 16px;
  margin: 0 2px;
}

.team .member .social a:hover {
  background: #d9232d;
}

.team .member .social a+a {
  margin-left: 8px;
}

/*********************************
7. Blog
*********************************/
.prodi
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
}

.blog
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 100px;
	padding-bottom: 100px;
}
.blog_post_container
{
	/* width: 100%; */
	display: flex;
	flex-wrap: wrap;
	gap: 10px 30px;
}
.blog_post
{
	/* display: flex; */
	/* flex-direction: column; */
	/* flex-grow: 1; */
	width: calc((100% - 60px) / 3);
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0px 1px 10px rgba(29,34,47,0.1);
	margin-bottom: 30px;
}
.blog_prodi_container
{
	/* width: 100%; */
	display: flex;
	flex-wrap: wrap;
	gap: 10px 20px;
}
.blog_prodi
{
	/* display: flex; */
	/* flex-direction: column; */
	/* flex-grow: 1; */
	width: calc((100% - 60px) / 4);
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0px 1px 10px rgba(29,34,47,0.1);
	margin-bottom: 30px;
}

.blog_post:hover
{
	box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
}
.blog_post_image
{
	width: 100%;
}
.blog_post_image img
{
	max-width: 100%;
}
.blog_post_video_container
{
	width: 100%;
}
.video-js
{
	width: 100%;
}
.video-js .vjs-big-play-button
{

}
.vjs-control-bar
{
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
} 

.blog_post_body
{
	padding-left: 32px;
	padding-right: 30px;
	padding-top: 23px;
	padding-bottom: 23px;
}
.blog_post_title a
{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	line-height: 1.4;
	font-weight: 700;
	color: #384158;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_post_title a:hover
{
	color: #14bdee;
}
.blog_post_meta
{
	margin-top: 11px;
}
.blog_post_meta ul {
	padding-left: 0px;
}
.blog_post_meta ul li
{
	display: inline-block;
	position: relative;
}
.blog_post_meta ul li:not(:last-of-type)::after
{
	display: inline-block;
	position: relative;
	content: '|';
	margin-left: 14px;
	margin-right: 11px;
}
.blog_post_meta ul li a
{
	font-size: 14px;
	font-weight: 400;
	color: #b5b8be;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_post_meta ul li a:hover
{
	color: #14bdee;
}
.blog_post_text
{
	margin-top: 12px;
}
.blog_post_text p
{
	font-size: 14px;
	font-weight: 400;
	color: #76777a;
	line-height: 2;
}
.load_more
{
	width: 150px;
	height: 46px;
	border-radius: 3px;
	background: #14bdee;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.load_more:hover
{
	box-shadow: 0px 5px 40px rgba(0,0,0,0.15);
}
.load_more a
{
	display: block;
	line-height: 46px;
	font-size: 14px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 500;
}